{% extends 'base.html' %}
{% load extra %}

{% block content %}
  <form class="form-inline" id="frm-player" action="/export_lineups" method="POST">
    {% csrf_token %}
    <div class="clearfix"></div>
      <div class="col-md-6 pr-0 pl-4">
        <h4 class="mb-4 mt-4">Choose File</h4>
        <div class="float-left">
          {% for ii in lists %}
            <div class="form-check" style="font-size: 17px; height: 30px;">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="player_list" value="{{ ii.title }}">{{ ii.title }}
              </label>
            </div>        
          {% endfor %}
        </div>
        <div class="clearfix"></div>
        <h3 class="mb-4 mt-5">Players List</h3>
        <div style="overflow-y: scroll; height: calc(98vh - 150px);">
        <table class="table table-striped table-hover table-responsive-md">
          <thead>
            <tr>
              <th><input type="checkbox" id="chk-all" checked=""></th>
              <th>Name</th>
              <th>Position</th>
              <th>Salary</th>
              <th>Value</th>
              <th>Points</th>
              <th>Team</th>
            </tr>
          </thead>
          <tbody>
            {% for ii in players %}
              <tr onclick="tr_click(this)" style="cursor: pointer;">
                <td><input type="checkbox" name="ids" checked="" value="{{ ii.id }}"></td>
                <td>{{ ii.name }}</td>
                <td>{{ ii.position }}</td>
                <td>{{ ii.salary }}</td>
                <td>{{ ii.value }}</td>
                <td>{{ ii.points }}</td>
                <td>{{ ii.team }}</td>
              </tr>
            {% endfor %}
          </tbody>  
        </table>
        </div>
      </div>

      <div class="col-md-2 pt-5 text-center">
        <button class="btn btn-success mb-3" style="width: 100px;" id="btn-export">Export</button><br>
        <a class="btn btn-success mb-3" style="width: 100px; color: white;" id="btn-calc">Calculate</a><br>
        <a class="btn btn-success mb-5" style="width: 100px; color: white;" id="btn-clear">Clear</a><br>
        <span class="pt-5" style="font-size: 17px;">Number of Lineups:</span><br>
        <input type="number" class="form-control m-3" style="width: 100px;" name="num-lineups" value="150" min="1"><br>
      </div>
      <div class="col-md-4 pl-0 pr-4" id="div-result">        
      </div>
  </form>

  <div class="modal fade" id="dlg-export">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Exporting</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          The csv file will be downloaded shortly.
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>  
{% endblock %}

{% block script %}
<script type="text/javascript">
  $(function() {
    $('#btn-export').click(function() {
      $('#dlg-export').modal();
    });

    $('#btn-calc').click(function() {
      $('#div-result').html('<span class="font-weight-bold">Calculating ...</span>');
      $.post( "/gen-lineups", $('#frm-player').serialize(), function( data ) {
        $( "#div-result" ).html( data );
      });
    });

    $('#btn-clear').click(function() {
      $('#div-result').html('');
    });

    $('#chk-all').change(function() {
      $('input[type="checkbox"]').prop("checked", this.checked);
    })
  })

  function tr_click(obj) {
    var checked = $(obj).find('input').prop("checked");
    $(obj).find('input').prop("checked", !checked);
  }
</script>  
{% endblock %}
