{% extends 'base.html' %}
{% load extra %}

{% block content %}
  <form class="form-inline" id="frm-player" action="/export_lineups" method="POST">
    {% csrf_token %}
    <div class="clearfix"></div>
      <div class="col-md-6 pr-0 pl-4 mb-5">
        <h4 class="mb-4 mt-4">Choose File</h4>
        <div class="float-left">
          {% for ii in lists %}
            <div class="form-check" style="font-size: 17px; height: 30px;">
              <label class="form-check-label">
                <input type="radio" class="form-check-input rd-file" name="player_list" value="{{ ii.title }}">{{ ii.title }}
              </label>
            </div>        
          {% endfor %}
        </div>
        <div class="clearfix"></div>
        <h3 class="mb-4 mt-5">Players List</h3>
        <div style="overflow-y: scroll; height: calc(98vh - 150px);" id="div-players">
        </div>
      </div>

      <div class="col-md-2 pt-5 text-center">
        <button class="btn btn-success mb-3" style="width: 100px;" id="btn-export">Export</button><br>
        <a class="btn btn-success mb-3" style="width: 100px; color: white;" id="btn-calc">Calculate</a><br>
        <a class="btn btn-success mb-5" style="width: 100px; color: white;" id="btn-clear">Clear</a><br>
        <span class="pt-5" style="font-size: 17px;">Number of Lineups:</span><br>
        <input type="number" class="form-control m-3" style="width: 100px;" name="num-lineups" value="150" min="1"><br>
      </div>
      <div class="col-md-4 pl-0 pr-4" id="div-result">        
      </div>
  </form>

  <div class="modal fade" id="dlg-export">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Exporting</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          The csv file will be downloaded shortly.
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>  
{% endblock %}

{% block script %}
<script type="text/javascript">
  $(function() {
    $('#btn-export').click(function() {
      var num_players = $('input[type="checkbox"]:checked').length;
      if (num_players == 0) {
        alert('Please choose players.');
        return false;
      }

      $('#dlg-export').modal();
    });

    $('#btn-calc').click(function() {
      var num_players = $('input[type="checkbox"]:checked').length;
      if (num_players == 0) {
        alert('Please choose players.');
        return
      }

      $('#div-result').html('<span class="font-weight-bold ml-5">Calculating ...</span>');
      $.post( "/gen-lineups", $('#frm-player').serialize(), function( data ) {
        $( "#div-result" ).html( data );
      });
    });

    $('#btn-clear').click(function() {
      $('#div-result').html('');
    });

    $('.rd-file').change(function() {
      var list = $('.rd-file:checked').val();

      $.post( "/get-players", { list: list }, function( data ) {
        $( "#div-players" ).html( data );
      });

    })
  })

  function tr_click(obj) {
    var checked = $(obj).find('input').prop("checked");
    $(obj).find('input').prop("checked", !checked);
  }

  function choose_all (obj) {
    $('input[type="checkbox"]').prop("checked", $(obj).prop('checked'));
  }
</script>  
{% endblock %}
